<div class="wrapper">
  <div class="sities">
    <div class="armalit">
      <div class="img"
      [ngStyle]="{'background-image':'url({{armalit_img}})'}"></div>
      <!-- [ngStyle]="{'background':'url(${armalit_img})'}"></div>  -->
      <div class="sity">Армалит</div>
      <img class="punct">
    </div>
    <div class="askold">
      <div class="sity">Аскольд</div>
      <img class="punct">
    </div>
    <div class="burevestnik">
      <div class="sity">Буревестник </div>
      <img class="punct">
    </div>
    <div class="skbk">
      <div class="sity">СКБК</div>
      <img class="punct">
    </div>
  </div>
</div>