<div class="wrapper">
  <div class="sities">
    <div class="armalit">
      <div class="block">
        <!-- <div class="img" [style.background-image]="armalit_img_01"></div>
         -->

        <div *ngFor="let img of armalit_img">
          <div class="img" [style.background-image]="armalit_img.src"></div>
        </div>
        
        <div class="sity">Армалит</div>
      </div>
      <img class="punct">
    </div>
    <div class="askold">
      <div class="block">
        <div class="img" [style.background-image]="askold_img"></div>
        <div class="sity">Аскольд</div>
      </div>
      <img class="punct">
    </div>
    <div class="burevestnik">
      <div class="block">
        <div class="img" [style.background-image]="burevestnik_img"></div>
        <div class="sity">Буревестник </div>
      </div>
      <img class="punct">
    </div>
    <div class="skbk">
      <div class="block">
        <div class="img" [style.background-image]="skbk_img"></div>
        <div class="sity">СКБК</div>
      </div>
      <img class="punct">
    </div>
  </div>
</div>