.wrapper {
    background: url(/assets/Map.png);
    background-size: 100%;
    height: 521px;
    width: 841px;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    .armalit, .askold, .burevestnik, .skbk{
        .punct {
            width: 10px;
            height: 10px;
            background: yellow;
            border-radius: 50px;
        }
        .sity{
            opacity:0;
        }:hover{
            transition: 1s;
            opacity:1;
        }
    }
    .armalit {
        position: fixed;
        left: 150px;
        top: 270px;
        .img{
            height: 88px;
            width: 88px;
            background-size: 100%;
            //background: url(/assets/armalit/01.png);
        }
        
    }
    .askold {
        position: fixed;
        left: 738px;
        top: 410px;
    }
    .burevestnik {
        position: fixed;
        left: 200px;
        top: 200px;
    }
    .skbk {
        position: fixed;
        left: 120px;
        top: 230px;

    }
}
